/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 7, ../sass/screen.scss */
body,
dl,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre {
  margin: 0;
}

/* line 22, ../sass/screen.scss */
button,
input,
legend,
menu,
option,
th,
td,
textarea {
  padding: 0;
}

/* line 33, ../sass/screen.scss */
input[type="radio"],
input[type="checkbox"] {
  margin: 0;
}

/* line 38, ../sass/screen.scss */
input {
  border: 1px solid #ccc;
}

/* line 42, ../sass/screen.scss */
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 49, ../sass/screen.scss */
body,
input,
textarea,
button,
pre {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  font-size: 100%;
}

/* line 58, ../sass/screen.scss */
p {
  font-size: 14px;
  line-height: 1.5;
}

/* line 64, ../sass/screen.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 69, ../sass/screen.scss */
img {
  border: 0;
}

/* line 73, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 112, icon/*.png */
.icon-sprite, .icon-all-list, .icon-arrow, .icon-card, .icon-home, .icon-money, .icon-ranklist, .icon-shopping, .icon-shouhou, .icon-user-active {
  background-image: url('../images/icon-s921d4f8166.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-all-list {
  background-position: 0 0;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow {
  background-position: 0 -60px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-card {
  background-position: 0 -105px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-home {
  background-position: 0 -165px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-money {
  background-position: 0 -219px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-ranklist {
  background-position: 0 -279px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-shopping {
  background-position: 0 -333px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-shouhou {
  background-position: 0 -387px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-user-active {
  background-position: 0 -447px;
}

/* line 82, ../sass/screen.scss */
[class*="icon-"][class^="icon-"] {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid red;
  width: 60px;
  height: 600px;
  background-size: 20px 241px;
}

/* line 91, ../sass/screen.scss */
.icon-home {
  background-size: 30px 30px;
}

/* line 99, ../sass/screen.scss */
.icon-money {
  background-size: cover;
}

/* line 105, ../sass/screen.scss */
.itembox {
  margin-bottom: 20px;
}
/* line 107, ../sass/screen.scss */
.itembox .title {
  background-color: #999;
  padding: 5px;
  margin: 0;
}
/* line 112, ../sass/screen.scss */
.itembox .text {
  margin: 10px 0;
  text-indent: 2em;
}

/* line 118, ../sass/screen.scss */
#testbox {
  width: 800px;
}

/* line 122, ../sass/screen.scss */
.comment {
  padding: 15px 0;
  margin: 10px 0;
  background-color: #f1f1f1;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
/* line 128, ../sass/screen.scss */
.comment p {
  text-indent: 2em;
}

/* line 133, ../sass/screen.scss */
#loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .5;
  text-align: center;
  z-index: 5;
  display: none;
}
/* line 144, ../sass/screen.scss */
#loading span {
  position: fixed;
  z-index: 6;
  color: #fff;
  top: 50%;
}

/* line 151, ../sass/screen.scss */
.getimg {
  width: 240px;
  height: 159px;
}

/* line 155, ../sass/screen.scss */
#messagewindow {
  width: 100%;
  height: 200px;
  border: 1px solid #999;
}

/* line 160, ../sass/screen.scss */
input[type='submit'],
input[type='button'] {
  border-radius: 5px;
  background-color: #2873c3;
  padding: 10px 25px;
  line-height: 100%;
  color: #fff;
  border: none;
}
