/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
body,
dl,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre {
    margin: 0;
}

button,
input,
legend,
menu,
option,
th,
td,
textarea {
    padding: 0;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0;
}

input {
    border: 1px solid #ccc;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body,
input,
textarea,
button,
pre {
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    font-size: 100%;
}

p {
    font-size: 14px;
    // line-height:150%;
    line-height: 1.5;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
}

a {
    text-decoration: none;
}

// @import "animate";
@import "compass";
$icon-spacing:20px;
@import "icon/*.png";
@include all-icon-sprites;
[class*="icon-"][class^="icon-"] {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid red;
    width: 60px;
    height: 600px;
    background-size: 20px 241px;
}

.icon-home {
    // width: 160px;
    // height: 800px;
    // background-position: 0 -66px;
    // background-size:50% 50%;
    background-size: 30px 30px;
}

.icon-money {
    // width: 160px;
    // height: 800px;
    background-size: cover;
}

.itembox {
    margin-bottom: 20px;
    .title {
        background-color: #999;
        padding: 5px;
        margin: 0;
    }
    .text {
        margin: 10px 0;
        text-indent: 2em;
    }
}

#testbox {
    width: 800px;
}

.comment {
    padding: 15px 0;
    margin: 10px 0;
    background-color: #f1f1f1;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    p {
        text-indent: 2em;
    }
}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: .5;
    text-align: center;
    z-index: 5;
    display: none;
    span {
        position: fixed;
        z-index: 6;
        color: #fff;
        top: 50%;
    }
}
.getimg{
    width: 240px;
    height: 159px;
}